@import './src/variables';

.root {
	margin-bottom: 15px;
	width: 95%;

	@include flex-column-center;

	h2 {
		margin: 20px 0 10px 0;

		&.strong {
			margin: 0;
		}
	}

	.subtext {
		font-weight: 400;
		font-size: 13px;
		line-height: 1.2;
	}

	&Auction {
		width: 100%;

		padding: 15px 10px;

		@include flex-column-center;

		background-color: $base-color;
		border-radius: 10px;

		.lot {
			padding: 0 10px;
			display: flex;
			justify-content: space-between;

			.left,
			.right {
				@include flex-column-center;
			}

			.left {
				width: 90%;
				.item {
					display: flex;
					align-items: center;

					img {
						margin-right: 12px;
						border: 1px solid $primary-color;
					}

					.info {
						width: 80%;
					}
				}

				.price {
					margin-top: 15px;
					margin-bottom: 10px;

					font-size: 18px;
					&Num {
						position: relative;
						padding-right: 15px;
						img {
							position: absolute;
							top: 4px;
							right: -3px;
						}
					}
				}

				.trade {
					display: flex;
					align-items: center;
					justify-content: space-between;
					.input {
						margin-right: 10px;
						max-width: 100px;

						font-family: DM Sans, sans-serif;
						font-weight: 700;
						font-size: 16px;
						color: $primary-color;

						outline: none;
					}

					.btn {
						padding: 5px 20px;
					}
				}
			}

			.right {
				width: 20%;
				font-size: 0.9em;
				text-align: center;
			}
		}
	}
}
