@import './src/variables';

.result {
	width: 100%;

	@include flex-column-center;

	.item {
		margin-bottom: 20px;

		@include flex-column-center;

		img {
			border: 1px solid $primary-color;
		}

		&Text {
			margin-bottom: 3px;
		}

		&Name {
			margin-top: 5px;
		}
	}
}
