@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,700&display=swap');

@import 'variables';

:root {
	font-family: $font-stack;
	font-size: 16px;
	font-weight: 700;
	line-height: 1;
	letter-spacing: 0;

	background-color: black;
	color: $primary-color;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

body {
	margin: 0 auto;

	min-width: 320px;
	min-height: 100vh;
}

p,
i,
strong,
a,
h1,
h2,
h3,
h4 {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

button {
	color: #fff;
	font-family: $font-stack;
	font-size: 14px;
	font-weight: 700;
	line-height: normal;

	padding: 2px 55px;

	background: url('https://s3-alpha-sig.figma.com/img/1102/d036/32b758e9611b5dffe269081426ca82ca?Expires=1701043200&Signature=fhHBdn3Ul-1iEGmg3lvr00P4241fzVXbguqlDZI0Xi0wjGLLusWBULhWNR6zkBsi6gaQpPSvgljlUgUe2NyUS1uEp8sbDVEDn1srjN24AGBxISfmYO-CDS0uWBsQumta-OCz~qEaql~gj0i1zygp0eFuKQftlsNueoPhjKK8XtnsG253xZZVQzY0oUQPCohnrDv1jaINyWQUqswLfRvgYwVY8j9EJXVJOrMvJxhzLD4Gs7fa5KvtO9-1BlBq23Ifbqqy6pSeo~Wa3vhBxTPndjOPfH-neAb42fkdy8H8cEJ5Kijm4hKXmMCU3KdIr7qulSMGFPN28mE7Oy35RLU1Qw__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4'),
		transparent center/cover no-repeat;

	background-size: 100% 100%;

	border: none;
	cursor: pointer;
	outline: none;

	//transition: background-color 0.25s;

	&:hover,
	&:active,
	&:focus {
		background: url('https://s3-alpha-sig.figma.com/img/f872/e922/b2224400eb72edbc873c93139d86fd7c?Expires=1701043200&Signature=nL-6Yg2~AXTA4bEVI3QrziP-9tUp6UMCu4x8K3~Y0JYhrt~UrFPOWn8HedTOc3V7y548v0kFF6Ba2HRGyU3wxf52Fw2c4yeJf5Nl1ZbPFnlzKV7hKrdt0DZ6AleEuzMHSLUQbMqzS2etIDdLPpVzRrLADIqx2DLipJ01GPC0caNs3tm7aaGh7SmcieQSNlV8QZfWGilr1T3QA7JwEdhhaYqfKWnfzuKL9c7tMpOd6aU00RynnZj-s9-SMuRakdANoillUV5lXDc7rznb1mgERcHiCvWbZs3TfSf2K1A3L3-Xp7if0LyQplMRnRCnvYo4eJfqkZYVGSL-lAN2duxFoA__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4'),
			transparent center/cover no-repeat;

		background-size: 100% 100%;
	}

	&:disabled {
		background: url('https://s3-alpha-sig.figma.com/img/2b3b/1d70/a40264f934f3d3657abd6b6e13c0d4e9?Expires=1701043200&Signature=jHq7QaaIKo4vkwmdmpKDyGKYZyKD1qmhrCER5HA40D1vfRt9NYk46aKjvNFqCZ9EftlUmh61TBMBcf1~V8xFRYIl49ARhDoCmWdvsP90fTKtOaYpF1J-TGkZlkWPcdmi3AG-0YRBJvkRxm2HEhU95QJIUDVh~EcjFIOADhDForRnNYRzf44g554hy1XSnfXMikrbtwGMtTZmA3sd-40P3~JcsjLc4eC4gDr3LCE788wXkjg4rN5sklAgFlctq~81dQRIf0TJSd5tNIF~BnBbeM4lrFwDS6rgWyR16nHNf4Nwn2EZCuT~bkYKlH-a4rtgiVgX8QQkBUwLNO-7IBqokQ__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4'),
			transparent center/cover no-repeat;

		background-size: 100% 100%;
	}
}
